{% extends "Academia/base.html" %}
{% load static %}

{% block content %}

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Quienes Somos</h1>
								<p class="mb-4">Somos el ente que impulse la solución de problemas nacionales a través de la generación del conocimiento científico, mediante la vinculación con todos los sectores de la sociedad y la promoción de la ciencia y la tecnología.</p>
								
							</div>
						</div>
						<div class="col-lg-7">
							<div class="hero-img-wrap">
								<img src="{% static 'images/couch.png'%}" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		

		<!-- Start Why Choose Us Section -->
		<div class="why-choose-section">
			<div class="container">
				<div class="row justify-content-between align-items-center">
					<div class="col-lg-6">
						<h2 class="section-title">Porque Escogernos</h2>
						<p>La Universidad de San Carlos de Guatemala (USAC) es la universidad pública más grande y reconocida de Guatemala. Aquí te ofrezco una breve descripción de por qué alguien podría escoger la USAC:</p>

						<p>Prestigio y Trayectoria: La USAC tiene una larga historia y prestigio en Guatemala y a nivel internacional. Fundada en 1676, es la universidad más antigua de América Central y una de las más antiguas de América.</p>
							
						<p>Oferta Académica Diversificada: La USAC ofrece una amplia gama de programas académicos en distintas áreas del conocimiento, incluyendo medicina, ingeniería, ciencias sociales, humanidades, ciencias naturales y más. Esto brinda a los estudiantes una variedad de opciones para elegir de acuerdo con sus intereses y metas profesionales.</p>
							
						<p>Acceso a la Educación Superior: Como universidad pública, la USAC busca brindar acceso a la educación superior a una amplia gama de estudiantes, incluyendo aquellos que podrían no tener los recursos económicos para acceder a instituciones privadas.</p>
							
						<p>Investigación y Desarrollo: La USAC es reconocida por su contribución a la investigación y desarrollo en diversas disciplinas. Cuenta con laboratorios, centros de investigación y programas de estudio que fomentan la investigación y la innovación.</p>
							
						<p>Conexión con la Comunidad: La USAC está arraigada en la sociedad guatemalteca y busca involucrarse en la comunidad a través de proyectos sociales, de servicio y de extensión universitaria que contribuyan al desarrollo del país y al bienestar de sus habitantes.</p>
							
						<p>Interacción Cultural y Diversidad: La USAC es un lugar donde estudiantes de diferentes regiones y culturas se reúnen, fomentando un ambiente diverso y enriquecedor que amplía la perspectiva de los estudiantes.</p>
							
						<p>Costos Accesibles: En comparación con algunas instituciones privadas, la USAC generalmente tiene matrículas más accesibles, lo que la convierte en una opción asequible para muchos estudiantes y sus familias.</p>

						<div class="row my-5">
							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'images/truck.svg'%}" alt="Image" class="imf-fluid">
									</div>
									<h3> Matutina </h3>
									<p>La jornada empieza desde las 7:00 Am a 12:30 PM.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'images/truck.svg'%}" alt="Image" class="imf-fluid">
									</div>
									<h3>Vespertina</h3>
									<p>La jornada empieza desde las 1:00 Pm a 5:30 PM.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'images/bag.svg'%}" alt="Image" class="imf-fluid">
									</div>
									<h3>Diurna</h3>
									<p>La jornada empieza desde las 5:30 Pm a 9:00 PM..</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'images/truck.svg'%}" alt="Image" class="imf-fluid">
									</div>
									<h3>Fin de Semana</h3>
									<p>Esta jornada se lleva a cabo los dos dias del fin de semana a partir de las 7:00 Am hasta las 2:00 PM.</p>
								</div>
							</div>

						</div>
					</div>

					<div class="col-lg-5">
						<div class="img-wrap">
							<img src="{% static 'images/why-choose-us-img.jpg'%}" alt="Image" class="img-fluid">
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Why Choose Us Section -->

		<!-- Start Team Section -->
		<div class="untree_co-section">
			<div class="container">

				<div class="row mb-5">
					<div class="col-lg-5 mx-auto text-center">
						<h2 class="section-title">Instalaciones</h2>
					</div>
				</div>

				<div class="row">

					<!-- Start Column 1 -->
					<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
						<img src="{% static 'images/why-choose-us-img.jpg'%}" class="img-fluid mb-5">
						<h3 clas><a href="#"><span class="">Edificios</span> Academicos</a></h3>
            <span class="d-block position mb-4">Biblioteca.</span>
            <p> La Ciudad Universitaria alberga más de 100 edificios académicos, que albergan aulas, laboratorios, bibliotecas y otras instalaciones necesarias para la enseñanza y la investigación.</p>
            <p class="mb-0"><a href="#" class="more dark">Mas informacion <span class="icon-arrow_forward"></span></a></p>
					</div> 
					<!-- End Column 1 -->

					<!-- Start Column 2 -->
					<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
						<img src="{% static 'images/img-grid-1.jpg'%}" class="img-fluid mb-5">

						<h3 clas><a href="#"><span class="">Edificios</span> culturales</a></h3>
            <span class="d-block position mb-4">Centro Cultural Universitario.</span>
            <p>La Ciudad Universitaria cuenta con un teatro, un museo y una galería de arte, que ofrecen una variedad de eventos culturales para la comunidad universitaria y la población en general.</p>
            <p class="mb-0"><a href="#" class="more dark">Mas informacion <span class="icon-arrow_forward"></span></a></p>

					</div> 
					<!-- End Column 2 -->

					<!-- Start Column 3 -->
					<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
						<img src="{% static 'images/piscina.jpg'%}" class="img-fluid mb-5">
						<h3 clas><a href="#"><span class="">Instalaciones </span> deportivas</a></h3>
            <span class="d-block position mb-4">Piscina Olímpica.</span>
            <p>La Ciudad Universitaria cuenta con una piscina olímpica, canchas de tenis, canchas de fútbol, canchas de baloncesto y otros espacios para la práctica deportiva.</p>
            <p class="mb-0"><a href="#" class="more dark">Mas informacion <span class="icon-arrow_forward"></span></a></p>
					</div> 
					<!-- End Column 3 -->

					<!-- Start Column 4 -->
					<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
						<img src="{% static 'images/cunoc.jpg'%}" class="img-fluid mb-5">

						<h3 clas><a href="#"><span class="">Extensiones </span> departamentales</a></h3>
            <span class="d-block position mb-4">Extension de Xela</span>
            <p>La Universidad de San Carlos de Guatemala (USAC) cuenta con 15 extensiones ubicadas en diferentes departamentos del país. Estas extensiones tienen como objetivo promover la educación superior y la cultura en las regiones fuera de la ciudad capital.</p>
            <p class="mb-0"><a href="#" class="more dark">Mas informacion <span class="icon-arrow_forward"></span></a></p>

          
					</div> 
					<!-- End Column 4 -->

					

				</div>
			</div>
		</div>
		<!-- End Team Section -->

		{% endblock %}
