{% extends "Academia/base.html" %}
{% load static %}

{% block content %}

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Servicios</h1>
								<p class="mb-4">Acontinuacion veremos los servicios que maneja la universiad.</p>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="hero-img-wrap">
								<img src="{% static 'images/couch.png'%}" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		

		<!-- Start Why Choose Us Section -->
		<div class="why-choose-section">
			<div class="container">
				
				
				<div class="row my-5">
					<div class="col-6 col-md-6 col-lg-3 mb-4">
						<div class="feature">
							<div class="icon">
								<img src="{% static 'images/support.svg'%}" alt="Image" class="imf-fluid">
							</div>
							<h3>Soporte</h3>
							<p>Se tiene un excelente soporte sobre todas las areas toda la semana.</p>
						</div>
					</div>

					<div class="col-6 col-md-6 col-lg-3 mb-4">
						<div class="feature">
							<div class="icon">
								<img src="{% static 'images/support.svg'%}" alt="Image" class="imf-fluid">
							</div>
							<h3>Aspirantes</h3>
							<p>Orientacion completa para los nuevos aspirantes con examen de orientacion y de ubicacion.</p>
						</div>
					</div>

					<div class="col-6 col-md-6 col-lg-3 mb-4">
						<div class="feature">
							<div class="icon">
								<img src="{% static 'images/return.svg'%}" alt="Image" class="imf-fluid">
							</div>
							<h3>Postgrado</h3>
							<p>Atencion a los Estudiantes egresados para seguir con sus Carreras.</p>
						</div>
					</div>

					<div class="col-6 col-md-6 col-lg-3 mb-4">
						<div class="feature">
							<div class="icon">
								<img src="{% static 'images/return.svg'%}" alt="Image" class="imf-fluid">
							</div>
							<h3>Intercambios</h3>
							<p>Opciones a optar por becas de parte de la universidad para estudair algo en concreto.</p>
						</div>
					</div>

					<div class="col-6 col-md-6 col-lg-3 mb-4">
						<div class="feature">
							<div class="icon">
								<img src="{% static 'images/truck.svg'%}" alt="Image" class="imf-fluid">
							</div>
							<h3> jornadas</h3>
							<p>Amplias jornadas y comodas para los estudiantes.</p>
						</div>
					</div>

					<div class="col-6 col-md-6 col-lg-3 mb-4">
						<div class="feature">
							<div class="icon">
								<img src="{% static 'images/return.svg'%}" alt="Image" class="imf-fluid">
							</div>
							<h3>Portal</h3>
							<p>Soporte a un portal interactivo para registro de actividades.</p>
						</div>
					</div>

				</div>
			
			</div>
		</div>
		<!-- End Why Choose Us Section -->

		<!-- Start Product Section -->
		<div class="product-section">
			<div class="container">
				<div class="row">

					<!-- Start Column 1 -->
					<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
						<h2 class="mb-4 section-title">Cursos para cualquier nivel educativo.</h2>
						<p class="mb-4">Promoveremos por todos los medios a su alcance la investigación en todas las esferas del saber humano y cooperará al estudio y solución de los problemas nacionales . </p>
						<p><a href="shop.html" class="btn">Explorar</a></p>
					</div> 
					<!-- End Column 1 -->

					<!-- Start Column 2 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="cart.html">
							<img src="{% static 'images/product-1.png'%}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Programacion</h3>
							<strong class="product-price">Asignate</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg'%}" class="img-fluid">
							</span>
						</a>
					</div> 
					<!-- End Column 2 -->

					<!-- Start Column 3 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="cart.html">
							<img src="{% static 'images/product-2.png'%}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Robotica</h3>
							<strong class="product-price">Asignate</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg'%}" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 3 -->

					<!-- Start Column 4 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="cart.html">
							<img src="{% static 'images/product-3.png'%}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Electronica</h3>
							<strong class="product-price">Asignate</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg'%}" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 4 -->

				</div>
			</div>
		</div>
		<!-- End Product Section -->

		<!-- Start Carreras -->
		<div class="product-section">
			<div class="container">
				<div class="row">

					<!-- Start Column 1 -->
					<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
						<h2 class="mb-4 section-title">Carreras</h2>
						<p class="mb-4">En este apartado miraremos las carreras que estan disponibles.</p>
						<p><a href="shop.html" class="btn">Explorar</a></p>
					</div> 
					<!-- End Column 1 -->

					<!-- Start Column 2 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="cart.html">
							<img src="{% static 'images/product-1.png'%}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Ing Ciencias y Sistemas</h3>
							<strong class="product-price">Asignate</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg'%}" class="img-fluid">
							</span>
						</a>
					</div> 
					<!-- End Column 2 -->

					<!-- Start Column 3 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="cart.html">
							<img src="{% static 'images/product-2.png'%}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Ing Electrica</h3>
							<strong class="product-price">Asignate</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg'%}" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 3 -->

					<!-- Start Column 4 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="cart.html">
							<img src="{% static 'images/product-3.png'%}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Ing Electronica</h3>
							<strong class="product-price">Asignate</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg'%}" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 4 -->

				</div>
			</div>
		</div>
		<!-- End Carreras -->
		{% endblock %}
